@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;500;600;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply max-w-[calc(1500px+40px)] px-5 mx-auto;
    }
}

* {
    @apply font-fira-sans;
}

body {
   /* background: linear-gradient(rgb(87, 44, 179, 0.5), transparent); */
   background: linear-gradient(to top,#20262B,#36284E, #3F255A,#312942);
}
.border_b_rounded {
    @apply border-b-[3px] border-primary;
}

.sc-iNWwEs.gEpdue {
    @apply h-11;
}
button.sc-eKszNL.hTwLpN {
    @apply bg-primary hover:bg-primary-dark duration-200 [&>span]:text-white rounded !border-none;
}

.sc-iNWwEs.gEpdue {
    @apply mx-0;
}
.sc-olbas.uhQpk {
    @apply bg-primary hover:bg-primary-dark duration-200 rounded [&>span]:text-white !border-none;
}

.sc-jfmDQi.byjoRM {
    @apply rounded bg-black/5;
}

.timer-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border: solid 2px white;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    width: 3rem;
    height: 10rem;
  }

  .flap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    transition: transform 0.5s ease;
  }
  
  .flap.back {
    transform: rotateX(180deg);
  }
  
  .flap.front {
    transform: rotateX(0deg);
  }
  
  .timer-inner {
    color: #333;
    display: flex;
    border: solid 2px #fff;
    padding: 2rem;
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 5px;
  }
  
  .timer-segment {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .divider,
  .time {
    font-size: 7rem;
  }
  
  .diver {
    padding: 0 2rem;
  }
  
  .label {
    font-size: 2rem;
  }
  
  h1 {
    z-index: 2;
    font-size: 10rem;
    color: #fff;
  }
  

  .clock-container {
    display: flex;
    align-items: center;
    font-size: 5xl;
    color: #f5d0fe;
  }

  