@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;500;600;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply max-w-[calc(1500px+40px)] px-5 mx-auto;
    }
}

* {
    @apply font-fira-sans;
}

body {
   /* background: linear-gradient(rgb(87, 44, 179, 0.5), transparent); */
   background: linear-gradient(to top,#20262B,#36284E, #3F255A,#312942);
}


.border_b_rounded {
    @apply border-b-[3px] bg-violet-600;
}

.sc-iNWwEs.gEpdue {
    @apply h-11;
}
button.sc-eKszNL.hTwLpN {
    @apply bg-violet-600 hover:bg-violet-900 duration-200 [&>span]:text-white rounded !border-none;
}

.sc-iNWwEs.gEpdue {
    @apply mx-0;
}
.sc-olbas.uhQpk {
    @apply bg-violet-600 hover:bg-violet-900 duration-200 rounded [&>span]:text-white !border-none;
}

.sc-jfmDQi.byjoRM {
    @apply rounded bg-stone-900;
}
  
  h1 {
    z-index: 2;
    font-size: 10rem;
    color: #fff;
  }
  



  