@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;500;600;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply max-w-[calc(1500px+40px)] px-5 mx-auto;
    }
}

* {
    @apply font-fira-sans;
}

body {
  
    background: linear-gradient(to top,#20262B,#36284E, #3F255A,#312942);
 }
 
.border_b_rounded {
    @apply border-b-[3px] border-primary;
}

.sc-iNWwEs.eSmbQy {
    @apply h-11;
}

.sc-iNWwEs.eSmbQy {
    @apply mx-0;
}

.sc-iNWwEs.gEpdue {
    @apply h-11;
}

.sc-iNWwEs.gEpdue {
    @apply mx-0;
}

button.sc-fLlhyt.kYKtpL{
    @apply bg-primary hover:bg-primary-dark duration-200 [&>span]:text-zinc-50 rounded !border-none;
}


button.sc-eKszNL.hTwLpN {
    @apply bg-primary hover:bg-primary-dark duration-200 [&>span]:text-zinc-50 rounded !border-none;
}

button.sc-eKszNL.iNgMlR {
    @apply bg-violet-600 hover:bg-violet-900 duration-200 [&>span]:text-zinc-50 rounded !border-none;
} 

.sc-jfmDQi.byjoRM {
    border-radius: 0.25rem;
    background-color: rgb(112 26 117 / 0.7);
}

.sc-kgflAQ-giMJGU {
    border-radius: 0.25rem;
    background-color: rgb(112 26 117 / 0.7);
}

.sc-jOrMOR.dATLYY{
	font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: #fae8ff ;   
}

.sc-cxabCf.cWXaHK{
	font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: #fae8ff ;
}

.sc-cxabCf.cWXaHK::after{
    content: " MATIC";
}

.sc-jOrMOR.dATLYY::after {
    content: " MATIC";
  }

  .sc-evZas.cPNcQg::after {
    content: " MATIC";
  }

  .sc-evZas.cPNcQg{
    -webkit-font-smoothing: antialiased;
    fill: #68738D;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 550;

  }

  .sc-hiMGwR.lcyeQD{
    -webkit-font-smoothing: antialiased;
    fill: #68738D;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 550;

}

.sc-hiMGwR.deAaMT{
    -webkit-font-smoothing: antialiased;
    fill: #68738D;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 550;


}

